.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.display-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  margin-bottom: 10px;
}

.icon-padding {
  padding-left: 3px;
  padding-right: 3px;
}

.comics-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: aquamarine;
}
.comics-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  background-color: palevioletred;
}

.comics-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px;
  width: 100%;
  font-size: 10px;
}

.show {
  display: block;
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
